.last-section {
  max-width: 100vw;
  overflow-x: hidden;
  height: auto;
  padding: 100px 0 100px 0;
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  .box {
    width: 550px;
    height: auto;
    display: grid;
    grid-template-rows: 100px auto;
    padding: 20px 40px;
    background: #013a47;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    color: white;
    p{
        line-height: 2;
        margin-top: 10px;
        color: #89A3A9;
    }
    .img{
        position: relative;
        img{
            width: 300px;
            height: auto;
            position: absolute;
            top: 0;
            border-radius: 20px;
            left: 50%;
            transform: translate(-50%,-60%);
        }
    }
  }
  .controller{
      display: flex;
      color: white;
      gap: 5px;
      margin-top: 40px;
  }
  .top-button {
    width: 80px;
    height: 80px;
    display: grid;
    z-index: 999; 
    place-items: center;
    background: #081f24;
    border-radius: 50%;
    position: absolute;
    @media (min-width:1400px){
      right: calc((100vw - 1350px)/2);
  }
    right: 50px;
    cursor: pointer;
    bottom: 50px;
    img{
        width: 60px;
    }
  }
}
