// first section's stylesheet in the webpage 


.hero-page {
  max-width: 100vw;
  height: 100vh;
  background: #03323c;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100vh;
    object-position: bottom left;
  }
  .left-side {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px 80px 80px 80px;
    @media (min-width:1400px){
        padding: 20px 50px 50px calc((100vw - 1340px)/2);
    }
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 60px auto;
    &-content {
      width: 100%;
      height: 100%;
      display: grid;
      align-content: center;
      .content-container {
        width: 100%;
        height: auto;
        display: grid;
        grid-gap: 50px;
        h1 {
          color: white;
          font-size: 60px;
          line-height: 0.8;
          span {
            font-size: 40px;
          }
        }
        button {
          padding: 15px 20px;
          border-radius: 10px;
          background: #f05d2a;
          font-size: 18px;
          font-weight: 600;
          color: white;
          border: none;
          position: relative;
          outline: none;
          display: flex;
          gap: 10px;
          overflow: hidden;
          cursor: pointer;
          &::before{
            transition:all .5s ease;
            content: "";
            width: 0px;
            height: 0%;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.212);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            transform: translate(-50%,-50%);
          }
          &:hover::before{
            width: 250px;
            height: 250px;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: white;
        }
      }
    }
    .header {
      align-items: center;
      color: white;
      display: flex;
      justify-content: space-between;
      .items {
        display: flex;
        gap: 30px;
        align-items: center;
        p {
          font-size: 20px;
        }
        .search {
          font-size: 20px;
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
        }
        .login {
          img {
            display: none;
        }
        cursor: pointer;
        }
      }
      h2 {
        font-size: 34px;
        cursor: pointer;
        position: relative;
        &::before {
          position: absolute;
          top: 50%;
          right: -30px;
          transform: translateY(-50%);
          content: "";
          background: url("../../../public/images/icons/arrow.svg") no-repeat
            center;
          height: 100%;
          width: 30px;
          transition: all 0.5s ease;
        }
        &:hover::before {
          transform: translateY(-40%);
        }
      }
    }
  }
}
