.copyright {
    width: 100%;
    height: auto;
   padding: 0 50px 50px 50px;
   h1{
       background: #081F24;
       width: 100%;
       padding: 25px 0;
       display: grid;
       place-items: center;
       border-radius: 30px;
       color: white;
       font-size: 22px;
       font-weight: bold; 
   }
}
  