.book-reviewer {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding:80px;
  grid-gap: 50px;
  .left-sec {
    color: white;
    h1 {
      font-size: 40px;
      text-transform: capitalize;
      margin-bottom: 50px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: -25px;
        left: 0;
        height: 1px;
        width: 70%;
        background: #0e7c83;
      }
    }
    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f1f9b2;
    max-width: 500px;
    padding: 30px 50px;
    display: grid;
    justify-self: end;
    color: #06343d;
    place-items: center;
    text-align: center;
    h1 {
      line-height: .8;
      font-size: 40px;
    }
    p {
      font-size: 22px;
    }
    button {
      padding: 15px 30px;
      border-radius: 10px;
      background: #f05d2a;
      font-size: 18px;
      font-weight: 600;
      color: white;
      border: none;
      outline: none;
    }
  }
}
